@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap");

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: grey;
}
.left {
  flex: 1;
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.right {
  flex: 1;
  width: 50%;
  background-color: #e6f2ff;
  padding-bottom: 10%;
  padding-left: 5%;
}
.box-container {
  display: block;
  width: 70%;
  padding-bottom: 50px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 2px 4px #676565;
}
.logo-header {
  display: flex;
  margin-top: 30px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  margin-bottom: 2px;
}
.inner-box {
  width: 100%;
  padding-left: 20%;
  padding-right: 20%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.logo {
  margin-left: 25px;
  width: 79px;
  height: 70px;
}
.product-name {
  line-height: 37px;
  margin-left: 9px;
  font-family: "Poppins", sans-serif;
  font-family: 25px;
  font-weight: bold;
  color: #000000;
}
.common-text {
  line-height: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  color: #000000;
  text-align: center;
}
.user-and-pass {
  width: 100%;
  background-color: white;
  text-align: center;
  margin-top: 13px;
}
:placeholder {
  color: #676565;
  font-family: "Roboto", sans-serif;
  font-size: 1px;
}
.textfield-wrap {
  display: flex;
  border-bottom: 1.5px solid #3da5c6;
  padding: 8px 10px;
  margin-bottom: 18px;
  margin-top: 4px;
  margin-left: auto;
  margin-right: auto;
}
.textfield {
  box-sizing: border-box;
  text-align: center;
  border: none;
  outline: none;
}
.rememberMe-wrap {
  display: flex;
  padding: 8px 10px;
  margin-bottom: 12px;
  flex-direction: row;
  align-items: center;
  color: #444444;
  font-weight: bold;
}

.button {
  display: flex;
  margin-top: 44px;
  padding-top: 5px;
  padding-bottom: 5px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #28b4e0;
  cursor: pointer;
}
.button text {
  color: #ffffff;
  font-size: 20px;
  font-family: poppins;
  font-weight: 500;
}

.font {
  flex: 1;
  padding-left: 61px;
  padding-top: 106px;
  width: 100%;
  padding-bottom: 48px;
}
.font h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  line-height: 46.88px;
  color: #000000;
}
.font h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
  line-height: 45px;
  color: #000000;
}
.image {
  flex: 2;
  width: 100%;
}
.image-round {
  width: 416px;
  height: 423px;
  margin-left: 149px;
  resize: inherit;
}

.image-customer {
  width: 427px;
  height: 424px;
  position: absolute;
  top: 25%;
  left: 50%;
}

.switch-signin{
  color: #15aad9;
}